<div class="wrapper-footer">
  <div class="container-fluid no-margin no-padding">
    <div class="footer">
      <div class="row no-margin" style="padding: 15px;">
        <div class="col-xs-2 col-xs-offset-3 no-padding">
          <p class= "footer-link"><%= link_to "About", about_page_path, id: "about-link" %></p>
        </div>
        <div class="col-xs-2 no-padding" >
          <p class= "footer-link"><%= link_to "Contact", "#" %></p>
        </div>
        <div class="col-xs-2 no-padding">
          <p class= "footer-link"><%= link_to "Legal  ", "#" %></p>
        </div>
      </div>
      <hr>
      <div class="row no-margin" style="padding: 15px;">
        <div class="col-xs-4 col-xs-offset-4 no-padding">
          <p>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
          </p>
        </div>
        <div class="col-xs-4 no-padding">
          <p id="footer-about">© Fresh</p>
        </div>
      </div>
    </div>
  </div>
</div>
