<div class="margin-top"></div>


<div class="wrapper-yellow text-center">
  We are Fresh!
</div>


<div id="intro-text-about">
  <p class="align-center">Fresh's goal is to bridge the gap between people who
    love fresh food and establishments looking to provide potential customers
    with information about their fresh offerings.</p>
</div>


<div class="wrapper-lightgrey-about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-title-about wrapper-white-about-title">
        <h3 class="align-center">Meet the Team</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="wrapper-white-about">
          <div class="min-height-name">
            <h3 class="name-title-about align-center">Caroline<br>Assis</h2>
          </div>
          <p class="align-center">
            <img src="https://avatars.githubusercontent.com/u/20164718?v=3" class="avatar-xlarge">
          </p>
          <div class="min-height-text">
            <p class="description">I'm a designer and I want to learn to code to be able
            to test my own ideas. I believe that this skill is essential to anyone who
            wants to enter the startup scene.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="wrapper-white-about">
          <div class="min-height-name">
            <h3 class="name-title-about align-center">Francisco<br>Pimenta<br>Machado</h2>
          </div>
          <p class="align-center">
            <img src="https://avatars.githubusercontent.com/u/19997730?v=3" class="avatar-xlarge" >
          </p>
          <div class="min-height-text">
            <p class="description">After studying medicine for three years I knew being
            a doctor wasn't for me so I decided to study
            engineering. Currently I'm working at Rnters, a p2p rental marketplace.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="wrapper-white-about">
          <div class="min-height-name">
            <h3 class="name-title-about align-center">Thiago<br>Tsai</h2>
          </div>
          <p class="align-center">
            <img src="https://avatars.githubusercontent.com/u/20164668?v=3" class="avatar-xlarge">
          </p>
          <div class="min-height-text">
            <p class="description">I worked 7 years as IT Manager for South America in
            Johnson Controls Automotive. I love coding and after the course I plan to pursue my own project.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div style="height: 5px"></div>
