<div class="margin-top"></div>
<!-- <div class="container">
<%# unless @items.empty? %>
  <%# @items.in_groups_of(4) do |item1, item2, item3, item4| %>
    <div class="row">
      <div class="col-sm-3">
        <%#= render 'shared/listcard', item: item1 %>
      </div>
      <%# if item2 %>
      <div class="col-sm-3">
        <%#= render 'shared/listcard', item: item2 %>
      </div>
      <%# end %>
      <%# if item3 %>
      <div class="col-sm-3">
        <%#= render 'shared/listcard', item: item3 %>
      </div>
      <%# end %>
      <%# if item4 %>
      <div class="col-sm-3">
        <%#= render 'shared/listcard', item: item4 %>
      </div>
      <%# end %>
    </div>
  <%# end %>
<%# else %>
  <br>
  <div class="alert alert-danger" role="alert" style="color: #d9534f; font-size: 1.2em;">
  <i class="fa fa-meh-o" aria-hidden="true"></i>
  Opps! No matches for your search
  </div>
  <br>
<%# end %>
</div> -->


<!-- bootstrap with different col height for the map-->
<div class="container">

<div class="row">
  <div class="col-sm-9">
    <% unless @items.empty? %>
    <% @items.in_groups_of(3) do |item1, item2, item3| %>
      <div class="row">
        <div class="col-sm-4">
          <%= render 'shared/listcard', item: item1 %>
        </div>
        <% if item2 %>
        <div class="col-sm-4">
          <%= render 'shared/listcard', item: item2 %>
        </div>
        <% end %>
        <% if item3 %>
      <div class="col-sm-4">
        <%= render 'shared/listcard', item: item3 %>
      </div>
      <% end %>
      </div>
    <% end %>
    <% else %>
      <br>
      <div class="alert alert-danger" role="alert" style="color: #d9534f; font-size: 1.2em;">
      <i class="fa fa-meh-o" aria-hidden="true"></i>
      Opps! No matches for your search
      </div>
      <br>
    <% end %>
  </div>


      <div class="col-sm-3">
        <div id="map" style="width: 100%; height: 100vh;"></div>

          <%= content_for(:after_js) do %>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIX5OkPPRTJZkKRUF80Nso8xQvwEY2mE">
            console.log('google_api')
          </script>


          <script type="text/javascript">
            var myLatlng = new google.maps.LatLng(10,10);

            var myOptions = {
              zoom: 16,
              center: myLatlng,
              scrollwheel: false,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.bus","elementType":"geometry","stylers":[{"visibility":"on"},{"hue":"#ff0000"}]},{"featureType":"transit.station.bus","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.bus","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#4690ec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"}]}] // TODO: replace [] by array from https://snazzymaps.com/
        };

        var map = new google.maps.Map(document.getElementById('map'), myOptions);
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: "You are here!"
        });
        </script>
        <% end %>
      </div>

  </div>
</div>

