<!-- Edit Business Place Modal -->
  <div class="modal fade" id="edit-bp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-md" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Basic Info</h4>
        </div>
        <div class="modal-body">
           <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>

<%= content_for(:after_js) do %>

<% end %>
