<!-- Manage Business Place Modal -->
  <div class="modal fade" id="manage-bp-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-md" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Manage Business Place</h4>
        </div>
        <div class="modal-body">
           <%= render 'manage_panel' %>
        </div>
      </div>
    </div>
  </div>
