<!-- Edit Dish Modal -->
<div class="modal fade" id="edit-dish-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <!-- URL Page will be loaded here -->
    </div>
  </div>
</div>

