<div class="margin-top"></div>
<div class="container">
  <div class="row" <%= @cuisine_id %>>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <h2>Edit your business:</h2>
        <%= render 'form' %>
    </div>
  </div>
</div>
