@media (max-width:623px){

    .selectwidthauto {
      width:50% !important;
      display: inline-block;
      float:left;
    }

    .sort-by-label {
      display: block;
    }


}

.sort-by-label {
  display: inline-block;
}
